{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center">
<header><h1>Rigby Pioneer Cemetery</h1></header><br/>
<img src="https://images.findagrave.com/photos/2004/248/CEM669_109443279368.jpg" alt="Cemetery Image"><br/><br/>
  
<h3>Search an Ancestor</h3><br/>
    <form action="{% url 'search' %}" method="get">
      <input name="q" type="text" placeholder="First & Last">
    </form><br/><br/>

    <a href="veterans"><h3>View Veterans</h3></a>
    <a href="add"><h3>Add People</h3></a><br/>

    <h4>Cemetery Information:</h4>
    <p>4023 Ririe Hwy, Rigby, ID 83442</p>
    <p>(208) 745-8447</p>

</div>
    <!--{% for item in all %}
      <p>{{ item.FirstName  }} {{ item.LastName  }} <p>
    {% endfor %}-->

{% endblock %}